@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background: rgb(12, 145, 138);
  border-radius: 5px;
}

body::-webkit-scrollbar-track{
  background: rgb(10, 73, 92);
}

main{
  text-align: center;
  margin:0 auto;
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(to bottom, #00ccff 15%, #3399ff 68%);
  color: white;
  overflow-x: hidden;
  font-family: 'Roboto Slab', serif;
}

/* Secci贸n uno */
.cont-inicio{
  background-image: url(../images/fondo-header-pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: row-reverse;
}

.cont-inicio__capa{
  width: 50vw;
  background-color: rgba(0, 63, 92, 0.4);
  color: #fff;
}

.wave-dos{
  display: none;
}

.cont-inicio__nav, .cont-fotos__nav{
  padding: 15px;
  gap: 1em;
  text-align: end;
}

.cont-inicio__links, .cont-fotos__links{
  list-style: none;
  text-decoration: none;
  color: white;
  width: 50px;
  font-size: 1.2em;
  padding-left: 10px;
}

.cont-inicio__links:hover, .cont-fotos__links:hover{
  color: rgb(16, 53, 219);
}

.cont-inicio__presentacion{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.cont-inicio__titulo{
  margin-bottom: 70px;
}

.parrafo{
  font-size: 1.2rem;
}

/* Separaciones de secci贸n */
.cont-separacion{
  position: relative;
  height: 80px;
  width: 100%;
}
.cody{
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 100px; 
  animation-name: codi;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.cody-rev{
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 100px; 
  animation-name: codi;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes codi{
  0%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(130vw, 0);
  }
}

/* Secci贸n dos */
.cont-aprender{
  display: flex;
}

.cont-aprender__vacas{
  background-color: rgba(0, 63, 92, 0.4);
  border-right: solid 2px rgba(0, 63, 92, 0.4);
  padding: 0 10px;
  flex: 2;
}

.cont-aprender__ruta{
  background-color: rgba(0, 63, 92, 0.4);
  flex: 1
}

.cursos__realizados{
  background-color: rgb(179, 31, 31);
  color: white;
  max-width: 200px;
  display: inline-block;
  box-shadow: 5px 5px 10px black;
  border-radius: 20px;
}

/* Secci贸n tres */
.cont-colab-comp{
  display: flex;
  flex-direction: row-reverse;
}

.cont-colab{
  background-color: rgba(0, 63, 92, 0.4);
  padding: 0 10px;
  flex: 1;
}

.cont__comp{
  background-color: rgba(0, 63, 92, 0.4);
  border-right: solid 2px rgba(0, 63, 92, 0.4);
  padding: 0 10px;
  flex: 2.5;
}

.cont-slider{
  display: flex;
  max-width: 450px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(8, 36, 48, 0.5);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.cont-slider__imagenes{
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center
}

.cont-slider::-webkit-scrollbar{
  height: 10px;
}

.cont-slider::-webkit-scrollbar-thumb{
  background: rgb(12, 145, 138);
  border-radius: 5px;
}

.cont-slider::-webkit-scrollbar-track{
  background: rgb(10, 73, 92);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ul li{
  text-align: left;
}
ul li::marker {
  content: "";
}

ol li{
  text-align: left;
}

/* Grid para galeria */
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 0 10px 10px 10px;
}

.gallery__cont{
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;
  position: relative;
}

.gallery__imgs{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.gallery__texto{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin-top: 0;
  background-color: rgba(73, 177, 218, 0.562);
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  color: black;
  font-weight: bold;
}

.gallery__texto:hover{
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 780px){
  .cont-inicio{
    background-position: -40px 0px;
  }

    .parrafo{
      font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px){
  .cont-inicio{
    flex-direction: column;
    background-position: -90px 0px;
  }

  .cont-inicio__capa{
    width: 100%;
    height: 40vh;
  }
  
  .wave{
    display: none;
  }

  .wave-dos{
    display: block;
  }

  .cont-aprender{
    flex-direction: column;
    gap: 50px
  }

  .cont-aprender__vacas{
    border-right: transparent;
    border-bottom: solid 2px rgba(0, 63, 92, 0.4);
    border-top: solid 2px rgba(0, 63, 92, 0.4);
  }

  .parrafo{
    font-size: 1rem;
  }

  .cont-colab-comp{
    flex-direction: column;
    gap: 50px
  }

  .cont-colab{
    border-bottom: solid 2px rgba(0, 63, 92, 0.4);
  }
}
